# build artifacts
QPICkit.pro.user
QPICkit.pro.user.*
.qmake.stash
.qtc_clangd/*
Makefile
QPICkit
moc_*
qrc_*
ui_*
*.o

# editor backups
.*~
*~

# test versions
*.bak
*.new
*.old
*.orig

# intel hex files used for test
*.hex

# programmer binaries
pk2cmd
ardpicprog
pickit1
